extends layout

block content

    .container
        h2= heading

        h4.info Welcome to credit card payment system.
        h5.info 1- Navigate to "Add Credit Card" to add new credit card.
        h5.info 2- Navigate to "List Credit Cards" to view already stored credit cards.
