doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    body
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='/')
                        = title

                ul.nav.navbar-nav
                    li(class=(page === 'home' ? 'active' : ''))
                        a(href='/') Home
                    li(class=(page === 'list' ? 'active' : ''))
                        a(href='/list') List Credit Cards
                    li(class=(page === 'add' ? 'active' : ''))
                        a(href='/add') Add Credit Card

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/')
                            | You are logged in as
                            | waleedahmq@gmail.com
        block content

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')